<footer class="mt-5 bg-body-tertiary text-center text-lg-start" style="background-color: rgb(226, 226, 226);">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Realizado por Jose BM - 2024
    </div>
  </footer>