<nav class="navbar bg-secondary">
    <div class="container-fluid">
        <a href="/" class="navbar-brand mb-0 h1 text-white"> Movies Astro</a>
        <a href="/" class="navbar-brand mb-0 h1 text-white"> Home </a>
    </div>
   
</nav>


<style>
    a {
        float: right;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    a:hover {
        background-color: #525252;
        color: black;
        border-radius: 12%;
    }
</style>